//MODO OSCURO!!!!!!!!!!!!!!!!!
//Colores generales
//$claro: white;
//$oscuro: black;

//Color de la letra del menú
//$letra_menu: navajowhite;

//Lateral acordion
//$caja: #373737;
//$boton: #F4F4F4;
//$texto: white;

//Formulario
//$fh2: #fff;
//$fboton: #fff;

//$fondo_img: "../multimedia/vinilo.jpg";


//MODO CLARO!!!!!!!!!!!!!!!!!
//Colores generales
$claro: black;
$oscuro: #D3E1E1;

//Color de la letra del menú
$letra_menu: black;

//Lateral acordion
$caja: black;
$boton: white;
$texto: white;

//Formulario
$fh2: #fff;
$fboton: #fff;


$fondo_img: "../multimedia/vinilo_blanco.jpg";