@import 'colores';


/*Usando BEM*/
.lateral__acordion__caja{
    background-color: $caja;
    text-decoration: none;
}

.lateral__acordion__boton {
    color: $boton;
    text-decoration: none;
    
}

.lateral__acordion__texto{
    background-color: $texto;
    text-decoration: none;
}

.ensaya{
    
    color: $claro;
}

.gif {
    
    margin-left: 40px;
}

.lateral_nosotros {
    
    color: $claro;
    margin-top: 100px;
    padding-left: 100px;
    padding-top: 30px;
}

.portada {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin-top: 70px; 
}
    
.presentacion{
    
     font-family: 'Piedra', cursive;
    
}

.card-body {
    background-color: $oscuro;
    color: $claro;
}

/*.lateral .contenedor_lat {
    position:relative;
    top: 0;
    min-height: 120px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 200px;
    padding-left: 30px;
}*/
.lateral .contenedor_lat {
   
    width: 100%;
    text-align: center;
    padding-left: 30px;
}